if SHIELD_KLOTZ_LEFT

    config ZMK_KEYBOARD_NAME
        default "KLOTZ"

    config ZMK_SPLIT_BLE_ROLE_CENTRAL
        default y

endif # LEFT



if SHIELD_KLOTZ_LEFT || SHIELD_KLOTZ_RIGHT

    config ZMK_SPLIT
        default y

endif # LEFT RIGHT



if SHIELD_KLOTZ_ESB_LEFT || SHIELD_KLOTZ_ESB_RIGHT || SHIELD_KLOTZ_ESB_DONGLE

    config ZMK_SPLIT
        default y

endif # ESB



if SHIELD_KLOTZ_ESB_DONGLE

    config ZMK_SPLIT_ROLE_CENTRAL
        default y

endif # ESB DONGLE



if ZMK_BACKLIGHT && !SHIELD_KLOTZ_ESB_DONGLE

    config PWM
        default y

    config LED_PWM
        default y

endif # ZMK_BACKLIGHT
