#include <behaviors.dtsi>
#include <zmk-helpers/helper.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


#define BASE        0
#define NAV         1
#define NUM         2
#define FUNC        3
#define SETTINGS    4
#define MAC_TOGGLE  5
#define MAC_OVERLAY 6
#define MAC_NAV     7
#define MAC_NUM     8
#define MAC_FUNC    9

#define ALL_LAYERS \
  BASE NAV NUM FUNC SETTINGS \
  MAC_TOGGLE MAC_OVERLAY MAC_NAV MAC_NUM MAC_FUNC 


#define ___ &trans
#define XXX &none

#define QUICK_TAP_MS        100
#define TAPPING_TERM_MS     135
#define HRM_TAPPING_TERM_MS 300
#define HRM_QUICK_TAP_MS    100
#define HRM_PRIOR_IDLE_MS   75
#define STICKY_RELEASE_MS   350


#include "custom-behaviors.dtsi"
#include "homerow-mods.dtsi"

#include "combos.dtsi"
#include "homerow-combos.dtsi"


ZMK_CONDITIONAL_LAYER(mac_base,      MAC_TOGGLE, MAC_OVERLAY)
ZMK_CONDITIONAL_LAYER(mac_nav,  NAV  MAC_TOGGLE, MAC_NAV    )
ZMK_CONDITIONAL_LAYER(mac_num,  NUM  MAC_TOGGLE, MAC_NUM    )
ZMK_CONDITIONAL_LAYER(mac_func, FUNC MAC_TOGGLE, MAC_FUNC   )


#define LAYER(NAME, LT, RT, LM, RM, LB, RB, TH)  ZMK_LAYER(NAME, LT RT LM RM LB RB TH)

LAYER(Base,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
		&kp Q         &kp W         &kp E         &kp R         &kp T       ,   &kp Y         &kp U         &kp I         &kp O         &kp SLASH   ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
		&kp A         &kp S         &kp D         &kp F         &kp G       ,   &kp H         &kp J         &kp K         &kp L         &kp P       ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
		&kp Z         &kp X         &kp C         &kp V         &kp B       ,   &kp B         &kp N         &kp M         &kp COMMA     &kp DOT     ,
//╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯
																							&lt NAV SPACE &sk LCTRL       &sk LSHFT     &lt NUM LANG1
//                                          ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
)

#define WIN_CAPTURE &kp LS(LG(S))
LAYER(Nav,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
		___           &kp LBKT      &lpar_lt      &rpar_gt      &kp RBKT    ,   &kp ESC       &kp TAB       &kp ENTER     &kp BACKSPACE &kp DEL     ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp LSHFT     HRM_LA(SEMI)  HRM_LS(MINUS) HRM_LC(EQUAL) &kp LGUI    ,   &kp SPACE     &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT   ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           &kp SQT       &kp GRAVE     &kp BSLH      ___         ,   WIN_CAPTURE   &kp HOME      &kp PAGE_DOWN &kp PAGE_UP   &kp END     ,
//╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯
																							___           ___             ___           &kp LSHFT
//                                          ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
)

LAYER(Num,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX           &kp N7        &kp N8        &kp N9        &kp ENTER   ,   ___           ___           ___           ___           ___         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp N0        &kp N4        &kp N5        &kp N6        &kp DOT     ,   &kp RGUI      &kp RCTRL     &kp RSHFT     &kp RALT      &sl FUNC    ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           &kp N1        &kp N2        &kp N3        XXX         ,   ___           ___           ___           ___           ___         ,
//╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯
																							___            ___            ___           ___
//                                          ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
)


LAYER(Func,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
	 	___           &kp F7        &kp F8       &kp F9         &kp F12     ,   ___           ___           ___           ___           ___  	      ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
		___           &kp F4        &kp F5        &kp F6        &kp F11     ,   ___           ___           ___           ___           ___  	      ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
		___           &kp F1        &kp F2        &kp F3        &kp F10     ,   ___           ___           ___           ___           ___  	      ,
//╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯
																							___           ___             ___           ___
//                                          ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
)



#define TOGGLE_MAC &tog MAC_TOGGLE
#define BOOTLOADER &ht_bootloader 0 0
#define BT_CLEAR   &ht_bt_clr 0 0
LAYER(Settings,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
		&bootloader   &out OUT_TOG  &out OUT_BLE  &out OUT_USB  XXX         ,   XXX           XXX           XXX           XXX           XXX         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
		BT_CLEAR      &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 5  XXX         ,   XXX           TOGGLE_MAC    XXX           XXX           BOOTLOADER  ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
		XXX           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  XXX         ,   XXX           XXX           XXX           XXX           XXX         ,
//╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯
																							XXX           XXX             XXX           XXX
//                                          ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
)

/*====LAYERS=>=MAC==================================================================*/
LAYER(MacToggle,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
		___           ___           ___           ___           ___        	,   ___           ___           ___           ___           ___  	      ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
		___           ___           ___           ___           ___        	,   ___           ___           ___           ___           ___   	    ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
		___           ___           ___           ___           ___        	,   ___           ___           ___           ___           ___     	  ,
//╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯
																							___           ___             ___           ___
//                                          ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
)

LAYER(MacOverlay,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
		___           ___           ___           ___           ___  	      ,   ___           ___           ___           ___           ___         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
		___           ___           ___           ___           ___  	      ,   ___           ___           ___           ___           ___         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           ___           ___           ___           ___     	  ,   ___           ___           ___           ___           ___         ,
//╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯
																							___           &sk LGUI        ___           &lt NUM F18
//                                          ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
)

LAYER(MacNav,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    ___           ___           ___           ___           ___         ,   ___           ___           ___           ___           &kp LC(BSPC),
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           ___           ___           HRM_MLC(EQUAL) &kp LCTRL  ,   ___           ___           ___           ___           ___         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           ___           ___           ___           ___     	  ,   ___           ___           ___           ___           ___         ,
//╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯
																							___           ___             ___           ___
//                                          ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
)

LAYER(MacNum,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
		___           ___           ___           ___           ___     	  ,   ___           ___           ___           ___           ___         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
		___           ___           ___           ___           ___   	    ,   &kp RCTRL     &kp RGUI      ___           ___           ___         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           ___           ___           ___           ___     	  ,   ___           ___           ___           ___           ___         ,
//╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯
																							___           ___             ___           ___
//                                          ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
)

LAYER(MacFunc,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
		___           ___           ___           ___           ___  	      ,   ___           ___           ___           ___           ___         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
		___           ___           ___           ___           ___   	    ,   ___           ___           ___           ___           ___         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
		___           ___           ___           ___           ___     	  ,   ___           ___           ___           ___           ___         ,
//╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯
																							___           ___             ___           ___
//                                          ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
)
